/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #ffc107;
  --section-bg-color: #f9f9f9;
  --section-dark: rgb(24, 24, 24);
  --section-light: rgb(246, 246, 246);
  --section-gray: rgb(215, 215, 215);
  --dark-color: #000000;
  --grey-color: #cccccc;
  --text-secondary-white-color: rgba(255, 255, 255, 0.98);
  --title-color: #565758;
  --p-color: #353535;
  --p-color-light: #d0d0d0;

  /* --body-font-family: sans-serif; */
  --h1-font-size: 72px;
  --h2-font-size: 42px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --copyright-text-font-size: 14px;
  --custom-link-font-size: 12px;

  --font-weight-light: 400;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background: var(--white-color);
  /* font-family: var(--body-font-family); */
  position: relative;
  /* text-align: justify; */
}

/*---------------------------------------
                                                                                                    TYPOGRAPHY               
                                                                                                  -----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

.p-color-light {
  color: var(--p-color-light);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

.text-secondary-white-color {
  color: var(--text-secondary-white-color);
}

.text-light {
  color: var(--text-secondary-white-color);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--dark-color);
  color: var(--white-color);
}

.custom-underline {
  border-bottom: 2px solid var(--white-color);
  color: var(--white-color);
  padding-bottom: 4px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  /* background: linear-gradient(to top, #000, transparent 90%); */
  background-color: #000000dc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
                                                                                                    HERO              
                                                                                                  -----------------------------------------*/
.hero {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .custom-video,
  .news-detail-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .sticky-wrapper {
    position: relative;
    bottom: 76px;
  }
}

.heroText {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--dark-color);
  /* background-size: 50% 50%; */
  /* border-radius: 100px; */
  /* width: 3rem; */
  /* height: 3rem; */
}

/*---------------------------------------
                                                                                                    PORTFOLIO               
                                                                                                  -----------------------------------------*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  margin: 20px;
}

/*---------------------------------------
                                                                                                    NEWS & EVENTS               
                                                                                                  -----------------------------------------*/

/*---------------------------------------
                                                                                                    SECTION               
                                                                                                  -----------------------------------------*/

.section-gray {
  background-color: var(--section-gray);
}

.section-light {
  background-color: var(--section-light);
}

.section-pw {
  background-color: #004c70;
}

.section-dark {
  background: var(--section-dark);
}

.section-padding {
          padding-top: 6rem;
          padding-bottom: 6rem;
        }

/*---------------------------------------
    
/*---------------------------------------
                                                                                                    RESPONSIVE STYLES               
                                                                                                  -----------------------------------------*/
@media screen and (min-width: 1600px) {
  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-background-light {
    background-color: var(--section-light);
  }

  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .team-thumb {
    left: 0;
    width: auto;
  }

  .news-two-column {
    height: auto !important;
    min-height: inherit;
  }

  .news .col-12 .news-two-column:first-child {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 767px) {
          .section-padding {
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 14px;
  }

  .custom-video {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 200%;
  }

  .overlay {
    background: linear-gradient(--font-weight-black, #000);
    /* background: linear-gradient(to top, #000, transparent 90%); */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 359px) {
  .news-detail-title {
    font-size: 22px;
  }
}

/* google icons  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 30;
}

.waaromPW {
  font-size: 3rem;
}

.trailer-container {
  position: relative;
  padding-bottom: 56.25%;
}

.trailer-container-half {
  position: relative;
  padding-bottom: 56.25%;
}

.trailer-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dark-cover::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
          z-index: 3;
}