:root {
  /* WEBSITE COLORS  */
  --section-dark: rgb(24, 24, 24);
  --section-light: rgb(246, 246, 246);
  --section-gray: rgb(215, 215, 215);
}
.section-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-gray {
  background: var(--section-gray);
}
