.video-container {
  width: 101vw;
  height: auto;
  opacity: 45%;
  filter: contrast(150%);
  margin-bottom: -10px;
  }

  .video-text{
          top: 30%;
          z-index: 3;
  }

.darken-video {
  background-color: black;
  height: 100%;
  width: 200%;
  color: black;
}
